.products {
  display: flex;
  flex-direction: column;
}

.product {
  background-color: rgb(197, 199, 238);
  border: 1px dotted rgb(5, 9, 36);
  padding: 0.5rem;
  margin: 0.5rem 0;
}

table,
th,
td {
  border: 1px solid black;
  /* border-radius: 15px; */
  border-collapse: collapse;
  padding: 15px;
  margin: 10px;
}

.tableheader {
  background-color: #072750; /* Green */
  color: white;
  font-weight: 900;
  font-size: large;
}

.currency {
  text-align: right;
}
